body {
    background-color: #fff;
}

.logo {
    width: 115px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
}

.pagination {
    background-color: #E7E9FC;
}

.section {
    list-style-type: none;
}

.contacts {
    list-style-type: none;
}

.main {
    background-color: #2e2f42;
}

.title {
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 1.11111;
    font-size: 36px;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    font-family: "Roboto", sans-serif;
}

.type {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    text-align: center;
}

.text {
    background-color: #fff;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list {
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.pic {
    background-color: #F4F4FD;
}

.pic, h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;    
    text-align: center;
    color: #2e2f42;
}

.subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.specialties {
    list-style-type: none;
}

.button:hover {
    color: #4D5AE5;
}

footer {
    background-color: #2e2f42;
}

.marketing {
    list-style-type: none;
    width: 264px;
    height: 100px;
}